In [38]:
import pyspark
from pyspark.sql import SQLContext
from pyspark import SparkContext
from pyspark.sql.functions import *
from pyspark.sql import SparkSession
from pyspark.sql import functions as f
import pandas as pd

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [42]:
df_ratings = spark.read.option("header", "false") \
    .option("delimiter", "::") \
    .option("inferSchema", "true") \
    .csv("C://Users//user//Desktop//BigDataHW4//movies//ratings.dat")

df_ratings.show(5)

df_movies = spark.read.option("header", "false") \
    .option("delimiter", "::") \
    .option("inferSchema", "true") \
    .csv("C://Users//user//Desktop//BigDataHW4//movies//movies.dat")

df_movies.show(5)

#第三個會出現: AnalysisException: Found duplicate column(s) in the data schema: `10`
#把"::"改成" "可輸出結果但不會做分割
df_users = spark.read.option("header", "false") \
    .option("delimiter", "::") \
    .option("inferSchema", "true") \
    .csv("C://Users//user//Desktop//BigDataHW4//movies//users.dat")

df_users.show(5)

+---+----+---+---------+
|_c0| _c1|_c2|      _c3|
+---+----+---+---------+
|  1|1193|  5|978300760|
|  1| 661|  3|978302109|
|  1| 914|  3|978301968|
|  1|3408|  4|978300275|
|  1|2355|  5|978824291|
+---+----+---+---------+
only showing top 5 rows

+---+--------------------+--------------------+
|_c0|                 _c1|                 _c2|
+---+--------------------+--------------------+
|  1|    Toy Story (1995)|Animation|Childre...|
|  2|      Jumanji (1995)|Adventure|Childre...|
|  3|Grumpier Old Men ...|      Comedy|Romance|
|  4|Waiting to Exhale...|        Comedy|Drama|
|  5|Father of the Bri...|              Comedy|
+---+--------------------+--------------------+
only showing top 5 rows

+---+---+---+---+-----+
|_c0|_c1|_c2|_c3|  _c4|
+---+---+---+---+-----+
|  1|  F|  1| 10|48067|
|  2|  M| 56| 16|70072|
|  3|  M| 25| 15|55117|
|  4|  M| 45|  7|02460|
|  5|  M| 25| 20|55455|
+---+---+---+---+-----+
only showing top 5 rows

In [43]:
#Q1

#分數遞減
#以下Dataframe中的_c1 is movieID, _c2 is rating

df_ratings_desc = df_ratings.orderBy(['_c2'], ascending = [False]).select('_c1', '_c2')
df_ratings_desc.show()

+----+---+
| _c1|_c2|
+----+---+
| 527|  5|
|2067|  5|
|3753|  5|
|1923|  5|
|2019|  5|
|  16|  5|
|2023|  5|
|1959|  5|
|2028|  5|
|2762|  5|
|1233|  5|
|1036|  5|
|1242|  5|
|1047|  5|
|1248|  5|
| 720|  5|
|1405|  5|
|2997|  5|
|2745|  5|
|1258|  5|
+----+---+
only showing top 20 rows

In [46]:
#Q2

#以下Dataframe中的第一行(_c1)跟第二行(_c2)是Rating Information的movieID與rating分數(遞減)
#Dataframe第三行(_c1)則是by Users information中相對應的的column

#Users_gender
df_users_gender = df_users.select('_c1')
#Top rated movies grouped by gender
df_ratings_desc.join(df_users_gender).show()

#Users_age
df_users_age = df_users.select('_c2')
#Top rated movies grouped by age
df_ratings_desc.join(df_users_age).show()

#Users_occupation
df_users_occ = df_users.select('_c3')
#Top rated movies grouped by occupation
df_ratings_desc.join(df_users_occ).show()

+----+---+---+
| _c1|_c2|_c1|
+----+---+---+
|1193|  5|  F|
|1193|  5|  M|
|1193|  5|  M|
|1193|  5|  M|
|1193|  5|  M|
|1193|  5|  F|
|1193|  5|  M|
|1193|  5|  M|
|1193|  5|  M|
|1193|  5|  F|
|1193|  5|  F|
|1193|  5|  M|
|1193|  5|  M|
|1193|  5|  M|
|1193|  5|  M|
|1193|  5|  F|
|1193|  5|  M|
|1193|  5|  F|
|1193|  5|  M|
|1193|  5|  M|
+----+---+---+
only showing top 20 rows

+----+---+---+
| _c1|_c2|_c2|
+----+---+---+
|1193|  5|  1|
|1193|  5| 56|
|1193|  5| 25|
|1193|  5| 45|
|1193|  5| 25|
|1193|  5| 50|
|1193|  5| 35|
|1193|  5| 25|
|1193|  5| 25|
|1193|  5| 35|
|1193|  5| 25|
|1193|  5| 25|
|1193|  5| 45|
|1193|  5| 35|
|1193|  5| 25|
|1193|  5| 35|
|1193|  5| 50|
|1193|  5| 18|
|1193|  5|  1|
|1193|  5| 25|
+----+---+---+
only showing top 20 rows

+----+---+---+
| _c1|_c2|_c3|
+----+---+---+
|1193|  5| 10|
|1193|  5| 16|
|1193|  5| 15|
|1193|  5|  7|
|1193|  5| 20|
|1193|  5|  9|
|1193|  5|  1|
|1193|  5| 12|
|1193|  5| 17|
|1193|  5|  1|
|1193|  5|  1|
|1193|  5| 12|
|1193|  5|  1|
|1193|  5|  0|
|1193|  5|  7|
|1193|  5|  0|
|1193|  5|  1|
|1193|  5|  3|
|1193|  5| 10|
|1193|  5| 14|
+----+---+---+
only showing top 20 rows

In [52]:
#Q3

#左邊的_c2是genres，右邊的_c2是平均分數

#Average Rating Score
df_rating_average = df_ratings_desc.select(mean('_c2'))

#Movie genres information
df_movies_genres = df_movies.select('_c2')
df_movies_genres.join(df_rating_average).show()

+--------------------+-----------------+
|                 _c2|         avg(_c2)|
+--------------------+-----------------+
|Animation|Childre...|3.581564453029317|
|Adventure|Childre...|3.581564453029317|
|      Comedy|Romance|3.581564453029317|
|        Comedy|Drama|3.581564453029317|
|              Comedy|3.581564453029317|
|Action|Crime|Thri...|3.581564453029317|
|      Comedy|Romance|3.581564453029317|
|Adventure|Children's|3.581564453029317|
|              Action|3.581564453029317|
|Action|Adventure|...|3.581564453029317|
|Comedy|Drama|Romance|3.581564453029317|
|       Comedy|Horror|3.581564453029317|
|Animation|Children's|3.581564453029317|
|               Drama|3.581564453029317|
|Action|Adventure|...|3.581564453029317|
|      Drama|Thriller|3.581564453029317|
|       Drama|Romance|3.581564453029317|
|            Thriller|3.581564453029317|
|              Comedy|3.581564453029317|
|              Action|3.581564453029317|
+--------------------+-----------------+
only showing top 20 rows

In [ ]:
#Q4

In [ ]:
#Q5